*
!./.config/awesome/
!./.config/bspwm/
!./.config/clipit/
!./.config/dmenu/
!./.config/fontconfig/
!./.config/openbox/
!./.config/pytyle2/
!./.config/ranger/
!./.config/sublime-text-3/Packages/User/
!./.config/terminator/
!./.config/Thunar/
!./.config/tilda/
!./.config/tint2/
!./.fluxbox/
!./.fonts/
!./.i3/
!./.mpd/
!./.ncmpcpp/
!./.pekwm/
!./.snippets/
!./.themes/FlatStudioCustom/
!./bin/
!./documents/public/
!./etc/
!./snippets/
!.bash_logout
!.bashrc
!.compton.conf
!.conky.lua
!.conkyrc
!.fonts.conf
!.git-completion.bash
!.gitignore
!.mpdconf
!.profile
!.selected_editor
!.stalonetrayrc
!.tmux.conf
!.viminfo
!.xbindkeysrc.scm
!.Xdefaults
!.xinitrc
